<ion-header>
  <ion-toolbar>
    <ion-img src="../assets/img/logotipo.png" height="60"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background" fullscreen>
  <ion-card-title class= "ion-padding-top" padding-bottom="25px">
    <ion-label>
      <h1 class="h1" >Restablecer Contraseña</h1>
    </ion-label>
  </ion-card-title>
<ion-card-content> 
<ion-item>
      <ion-label position="left">Usuario</ion-label>
      <ion-input type="text"></ion-input>
</ion-item>
</ion-card-content>
  <ion-button shape="block" width="full" (click)="restablecer()" color="primary">RECUPERAR</ion-button>

  <hr>
  <ion-button shape="block" width="full" (click)="close()" color="primary" routerLink="/login">REGRESAR</ion-button>

</ion-content>

